#!/bin/sh

# AUTOSTART
#--------------------------------------------
#xrandr --dpi 156
xmodmap .xmodmaprc
#export GDK_SCALE=2
#sleep 2s && sdorfehs_bar &
#myBar &
xsetroot -cursor_name left_ptr &
xset r rate 400 30 &
unclutter &
xset s off -dpms &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom -b --config ~/.config/picom.conf --experimental-backends &
dunst &
xwal.sh &
#setbg &
#feh --bg-fill --randomize ~/.local/bin/wallpapers/Future/*
#redshift -l 47.162495:19.503304 -t 6000:3600 -g 0.8 -m randr -v &
udiskie -a &
#~/.local/bin/sdorfehsscripts/autovscreen &
#change_background &
